<link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<mat-toolbar color="accent">
     <span>
         <a routerLink="/">
        <span>Home</span>
        </a>
        </span>
        <div *ngIf="!isLoggedIn">


            <span>
                <!-- <a 
                routerLinkActive="active-link"
                routerLink="/posts">
                <span>Main</span>
        </a> -->
        
        <a 
        routerLinkActive="active-link"
        routerLink="/login">
        <span>Login</span>
    </a>
    
                <a 
                routerLinkActive="active-link"
                routerLink="/signup">
                <span>Signup</span>
                    </a>
        </span>
        </div>
        <div *ngIf="isLoggedIn">
            <span>
                <a 
                routerLinkActive="active-link"
                routerLink="/posts">
                <span>Posts</span>
        </a>
            <a 
            routerLinkActive="active-link"
            routerLink="#"
            (click)="logout()">
            <span>Logout</span>
    </a>
        </span>

        </div>
</mat-toolbar>