<!-- <div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">
   <mat-card>
      <mat-card-header>
        <mat-card-title>Log in</mat-card-title>
      </mat-card-header>
  
      <form class="example-form" [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
        <mat-card-content>
          <div *ngIf="isError" style="background-color: red; margin-top: 10px; margin-bottom: 5px;">{{error.error.message}}</div>
   
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password" type="password">
          </mat-form-field>
        </mat-card-content>
        <button
      color="accent"
      [disabled]="!loginForm.valid"
      mat-raised-button
      type="submit"
      [class.spinner]="loading"
    >
      <span>Log in</span>
    </button>
      </form>
    </mat-card>
  
  </div> -->
<body>
  <h1>Login Page</h1><br>    
    <div class="login">    
    <form id="login"  [formGroup]="loginForm" (ngSubmit)="login()" novalidate>  
      <mat-card-content>
        <div *ngIf="isError" style="background-color: red; margin-top: 10px; margin-bottom: 5px;">{{error.error.message}}</div>
        <label>
          <b>Email
          </b>
          </label>
        <br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Email" id=email formControlName="email">
        </mat-form-field>
        <br>
        <label><b>Password</b></label><br>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Password" id=password formControlName="password" type="password"  >
        </mat-form-field>
      </mat-card-content>
      <br>
        <button
        color="accent"
        [disabled]="!loginForm.valid"
        mat-raised-button
        type="submit"
        [class.spinner]="loading"
        name  ="log" id="log"
      >
        <span>Log in</span>
      </button>   
        <br><br>    
        <input type="checkbox" id="check">    
        <span>Remember me</span>    
        <br><br>    
           
    </form>     
</div>    
</body>

