.main-div {
  height: 100vh;
  // display: flex;
  justify-content: vertical;
  align-items: center;
}
.list-card {
  margin-top: 10px;
  margin-left: 20%;
  margin-right: 20%;
}
.box {
  margin-top: 20px;
  opacity: 0.8;
  margin-left: 20%;
  margin-right: 20%;
  align-items: center;
  justify-content: center;
}
