/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html,
body {
  height: 100%;
  // background-img: url("abc.jpg");
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  background-image: URL("assets/images/abc.jpg");
  background-size: cover;
}
